.block {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    cursor: move;
  }

.hitbox {
  width: 50px;
  height: 100px;
  left: 100px;
  position: absolute;
}